<template name="actionsBar">
  <a id="plus"><i class="fa fa-2x fa-plus"></i></a>
  <a id="upload"><i class="fa fa-2x fa-upload"></i>{{>uploadForm}}</a>
  <a id="download"><i class="fa fa-2x fa-download"></i></a>
  <a id="trash"><i class="fa fa-2x fa-trash"></i></a>
  {{ > uploadForm }}
  {{ > newDirForm }}
</template>

<template name="newDirForm">
  <form class="newdir-form">
      <input type="text"  placeholder="New Directory Name">
  </form>
  <button id="newdirSubmit" class="btn btn-default">Submit</button>
</template>
