<template name='loggedIn'>
  <div class="container-fluid">
    <div class="row" id="header">
      {{> header}}
    </div>
    <div class="row">
      <div id="left" class="col-md-10">
        {{> left}}
      </div>
      <div id="right" class="col-md-2">
        {{> right}}
      </div>
    </div>
  </div>
</template>

<template name='header'>
  <div class="col-md-3">
    <img src="img/logo.png" height="75"/>
  </div>
  <div>
    {{> directoryMap}}
  </div>
</template>

<template name="layout">
  <div id="main" class="row-fluid">
    {{> yield}}
  </div>
</template>

<template name="notFound">
  <h1> YOU ARE IN THE WRONG PLACE </h1>
</template>
