<template name='loggedIn'>
  <div class="container-fluid">
    <div class="row" id="header">
      {{> header}}
    </div>
    <div class="row">
      <div id="left" class="col-md-9">
        {{> left}}
      </div>
      <div id="right" class="col-md-3">
        {{> right}}
      </div>
    </div>
    <div>
      {{> footer}}
    </div>
  </div>
</template>

<template name='header'>
  <div class="col-md-3">
    <p id="logo">PoofyDrive</p>
    <i class="fa fa-4x fa-lg fa-inverse fa-cloud"></i>
  </div>
  <div>
    <p id="title">Hi {{ name }}!</p>
  </div>
</template>

<template name='footer'>
</template>

<template name="layout">
  <div id="main" class="row-fluid">
    {{> yield}}
  </div>
</template>

<template name="notFound">
  <h1> YOU ARE IN THE WRONG PLACE </h1>
</template>
