<template name="right">
  <div id="storage" class="right-box">
    <div id="storage-current">20 GB</div>
    <div id="storage-total">total: 150 gb</div>
  </div>
  <div id="add-storage" class="right-box">
    <p class="right-title"> ADD STORAGE</p>
    <div class="row">
      <a href="google.com"><div id="dropbox" class="col-md-6 fill">
        <img src="img/dropbox.png"/>
      </div></a>
      <a href="google.com"><div id="drive" class="col-md-6 fill">
        <img src="img/drive.png"/>
      </div></a>
    </div>
  </div>
  <div id="linked-accounts" class="right-box row">
    <p class="right-title">LINKED ACCOUNTS</p>
    <p><i class="fa fa-dropbox"></i>   jerryjliu98@gmail.com</p>
    <input type="button" id="serverTesting" value="server" />
  </div>
</template>
