#uploadForm {
  border:1px solid #808080 !important;
  display: none;
}

#upload, #download, #trash, #plus {
  cursor: pointer;
  a {
    color:@darkblue;
  }
  padding-left: 10px;
}

#download {
  margin-top: 2px;
}
