@lightblue: #66B7E8;
@otherlb: 66BEF3;
@darkblue: #6682FF;
@grey: #808080;

#left {
  border-right: 1px solid @grey;
  padding-left: 5%;
}

#header {
  padding-left: 20px;
  padding-bottom: 15px;
  padding-top: 5px;
  margin-bottom: 45px;
  margin-top: -30px;
  transform: translateY(50%);
  height:75px;
  display: block;
}