.right-box {
  margin-bottom: 30px;
}

#storage {
  text-align: center;
}

#storage-total {

}

#storage-current {
  font-size: 3em;
  text-align: center;
}

#add-storage {
  text-align: center;
  img {
    width: 100%;
    height: auto;
  }
}

#linked-accounts {
  text-align: center;
}

.right-title {
  text-align: center;
}