input {
    background-color:transparent;
    border:none !important;
    height:23px !important;
    padding-right:30px; /* button padding */
    width:calc(100% - 10px);
}

button {
    right:0;
    top:0;
    border-color: none;
    background-color:transparent;
    border:none !important;
    height:23px !important;
    padding:0px !important;
    padding-right: 4px !important;
}

.form-group {
    border:1px solid #808080 !important;
    display:inline-block;
    position:relative;
    height:25px;
    border-radius: 5px;
    width: 100%;
}